@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Employee Deletion Form</h1>
<form id="form1" action="Delete1" method="post">
    <table width="60%" bgcolor="yellow" border="1">
        <tr>
            <td>Enter Employee Number To Delete</td>
            <td><input type="text" id="text1" name="text1" /></td>
            <td><input type="submit" id="submit1" name="submit1" value="Delete" /></td>
        </tr>

    </table>
</form>